/*OwlRWD CSS 1.2 by Kamil Dudar*/
/*Github repository: http://www.owlr.github.io/owl-rwd*/
/*GitLab repository: https://gitlab.com/Owlr/owl-rwd*/

/*basics*/
html{box-sizing: border-box}*,*:before,*:after{box-sizing: inherit}
html{margin: 0!important; padding: 0!important; overflow-x: hidden;}
html,body{font-family: "Helvetica Neue", sans-serif; font-size: 15px; line-height: 1.5;}
hr{border: 0; border-top: 1px solid #ccc; margin:20px 0;}
a{color: inherit!important;}

/*headers*/
/*o-h0 and o-h7 are OWlRWD JS tags. If you don't use this tags, OwlRWD JS.TAG is not required.*/
.owl-xjumbo{font-size: 72px;}
o-h0,.owl-jumbo{font-size: 42px;}
h1,.owl-xxxlarge{font-size: 36px;}
h2,.owl-xxlarge{font-size: 28px;}
h3,.owl-xlarge{font-size: 24px;}
h4,.owl-large{font-size: 20px;}
h5,.owl-medium{font-size: 18px;}
h6,.owl-small{font-size: 16px;}
o-h7,.owl-tiny{font-size: 12px;}
o-h1,h1,h2,h3,h4,h5,h6,o-h7{font-family: "Helvetica Neue", sans-serif; margin: 10px 0; font-weight: normal;}

/*Basic columns*/
/*Columns: n (normal), xs, s, m ,l ,xl*/
.owl-col-n1{width: 8.33%;}
.owl-col-n2{width: 16.66%;}
.owl-col-n3{width: 25%;}
.owl-col-n4{width: 33.33%;}
.owl-col-n5{width: 41.66%;}
.owl-col-n6{width: 50%;}
.owl-col-n8{width: 58.33%;}
.owl-col-n7{width: 66.66%}
.owl-col-n9{width: 75%;}
.owl-col-n10{width: 83.33%;}
.owl-col-n11{width: 91.66%}
.owl-col-n12{width: 100%;}

@media only screen and (max-width: 389.9px){[class*="owl-col-"],[class*="owl-col-alt-"]{width: 100%;}}

@media (min-width: 390px){
  .owl-col-xs1{width: 8.33%;}
  .owl-col-xs2{width: 16.66%;}
  .owl-col-xs3{width: 25%;}
  .owl-col-xs4{width: 33.33%;}
  .owl-col-xs5{width: 41.66%;}
  .owl-col-xs6{width: 50%;}
  .owl-col-xs8{width: 58.33%;}
  .owl-col-xs7{width: 66.66%}
  .owl-col-xs9{width: 75%;}
  .owl-col-xs10{width: 83.33%;}
  .owl-col-xs11{width: 91.66%}
  .owl-col-xs12{width: 100%;}
}

@media (min-width: 520px){
  .owl-col-s1{width: 8.33%;}
  .owl-col-s2{width: 16.66%;}
  .owl-col-s3{width: 25%;}
  .owl-col-s4{width: 33.33%;}
  .owl-col-s5{width: 41.66%;}
  .owl-col-s6{width: 50%;}
  .owl-col-s8{width: 58.33%;}
  .owl-col-s7{width: 66.66%}
  .owl-col-s9{width: 75%;}
  .owl-col-s10{width: 83.33%;}
  .owl-col-s11{width: 91.66%}
  .owl-col-s12{width: 100%;}
}

@media (min-width: 728px){
  .owl-col-m1{width: 8.33%;}
  .owl-col-m2{width: 16.66%;}
  .owl-col-m3{width: 25%;}
  .owl-col-m4{width: 33.33%;}
  .owl-col-m5{width: 41.66%;}
  .owl-col-m6{width: 50%;}
  .owl-col-m8{width: 58.33%;}
  .owl-col-m7{width: 66.66%}
  .owl-col-m9{width: 75%;}
  .owl-col-m10{width: 83.33%;}
  .owl-col-m11{width: 91.66%}
  .owl-col-m12{width: 100%;}
}

@media (min-width: 991px){
  .owl-col-l1{width: 8.33%;}
  .owl-col-l2{width: 16.66%;}
  .owl-col-l3{width: 25%;}
  .owl-col-l4{width: 33.33%;}
  .owl-col-l5{width: 41.66%;}
  .owl-col-l6{width: 50%;}
  .owl-col-l8{width: 58.33%;}
  .owl-col-l7{width: 66.66%}
  .owl-col-l9{width: 75%;}
  .owl-col-l10{width: 83.33%;}
  .owl-col-l11{width: 91.66%}
  .owl-col-l12{width: 100%;}
}

@media (min-width: 1280px){
  .owl-col-xl1{width: 8.33%;}
  .owl-col-xl2{width: 16.66%;}
  .owl-col-xl3{width: 25%;}
  .owl-col-xl4{width: 33.33%;}
  .owl-col-xl5{width: 41.66%;}
  .owl-col-xl6{width: 50%;}
  .owl-col-xl8{width: 58.33%;}
  .owl-col-xl7{width: 66.66%}
  .owl-col-xl9{width: 75%;}
  .owl-col-xl10{width: 83.33%;}
  .owl-col-xl11{width: 91.66%}
  .owl-col-xl12{width: 100%;}
}

[class*="owl-col-"],[class*="owl-col-alt-"]{float: left; padding: 15px;}
.row::after{content:""; clear: both; display: table;}

/*10-column grid*/
/*Columns: n (normal), s, m, l*/
.owl-col-alt-n1{width: 10%;}
.owl-col-alt-n2{width: 20%;}
.owl-col-alt-n3{width: 30%;}
.owl-col-alt-n4{width: 40%;}
.owl-col-alt-n5{width: 50%;}
.owl-col-alt-n6{width: 60%;}
.owl-col-alt-n7{width: 70%;}
.owl-col-alt-n8{width: 80%;}
.owl-col-alt-n9{width: 90%;}
.owl-col-alt-n10{width: 100%;}

@media (min-width: 520px){
  .owl-col-alt-s1{width: 10%;}
  .owl-col-alt-s2{width: 20%;}
  .owl-col-alt-s3{width: 30%;}
  .owl-col-alt-s4{width: 40%;}
  .owl-col-alt-s5{width: 50%;}
  .owl-col-alt-s6{width: 60%;}
  .owl-col-alt-s7{width: 70%;}
  .owl-col-alt-s8{width: 80%;}
  .owl-col-alt-s9{width: 90%;}
  .owl-col-alt-s10{width: 100%;}
}

@media (min-width: 728px){
  .owl-col-alt-m1{width: 10%;}
  .owl-col-alt-m2{width: 20%;}
  .owl-col-alt-m3{width: 30%;}
  .owl-col-alt-m4{width: 40%;}
  .owl-col-alt-m5{width: 50%;}
  .owl-col-alt-m6{width: 60%;}
  .owl-col-alt-m7{width: 70%;}
  .owl-col-alt-m8{width: 80%;}
  .owl-col-alt-m9{width: 90%;}
  .owl-col-alt-m10{width: 100%;}
}

@media (min-width: 991px){
  .owl-col-alt-l1{width: 10%;}
  .owl-col-alt-l2{width: 20%;}
  .owl-col-alt-l3{width: 30%;}
  .owl-col-alt-l4{width: 40%;}
  .owl-col-alt-l5{width: 50%;}
  .owl-col-alt-l6{width: 60%;}
  .owl-col-alt-l7{width: 70%;}
  .owl-col-alt-l8{width: 80%;}
  .owl-col-alt-l9{width: 90%;}
  .owl-col-alt-l10{width: 100%;}
}

/*containers*/
.owl-container{padding: 0.01em 15px;}
.owl-panel{padding: 0.01em 15px; margin-top: 15px; margin-bottom: 15px;}
.owl-card,.owl-card-2{box-shadow: 0 2px 5px 0 #aaa, 0 2px 10px 0 #ccc; -moz-box-shadow: 0 2px 5px 0 #aaa, 0 2px 10px 0 #ccc; -webkit-box-shadow: 0 2px 5px 0 #aaa, 0 2px 10px 0 #ccc;}
.owl-card-4,.owl-hover-shadow:hover{box-shadow: 0 4px 10px 0 #aaa,0 4px 20px 0 #ccc; -moz-box-shadow: 0 4px 10px 0 #aaa,0 4px 20px 0 #ccc; -moz-box-shadow: 0 4px 10px 0 #aaa,0 4px 20px 0 #ccc;}
.owl-card-6{box-shadow: 0 6px 10px 0 #aaa,0 6px 20px 0 #ccc; -moz-box-shadow: 0 6px 10px 0 #aaa,0 6px 20px 0 #ccc; -moz-box-shadow: 0 6px 10px 0 #aaa,0 6px 20px 0 #ccc;}
.owl-card-8{box-shadow: 0 8px 10px 0 #aaa,0 8px 20px 0 #ccc; -moz-box-shadow: 0 8px 10px 0 #aaa,0 8px 20px 0 #ccc; -moz-box-shadow: 0 8px 10px 0 #aaa,0 8px 20px 0 #ccc;}

/*modal*/
.owl-modal{z-index: 3; display: none; padding-top: 100px; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
.owl-modal-content{margin: auto; background-color: #fff; position: relative; padding: 0; outline: 0; width: 600px;}

/*tooltip*/
.owl-tooltip-container{position: relative;}
.owl-tooltip-container .owl-tooltip-text{display: none;}
.owl-tooltip-container:hover .owl-tooltip-text{display: inline-block;}

/*code*/
.owl-code{font-family: Consolas, "courier new"; font-size: 16px; width: auto; background-color: #fff; padding: 8px 12px; border-left: 4px solid #4CAF50; word-wrap: break-word;}
/*.owl-codesec class has removed. To style .owl-code with diffrent font
color use .owl-text-<color> classes (<color> is name of color) or
OwlRWD JS tags*/

/*buttons*/
/*.owl-btn class has been removed. Use only .owl-button-shadow*/
.owl-button-shadow{background-color: black; color: white; padding: 15px 33px; text-align: center; display: inline-block; font-size: 16px; transition-duration: 0.7s; -webkit-transition-duration: 0.7s;}
.owl-button-shadow:hover{box-shadow: 0 2px 5px 0 #aaa, 0 2px 10px 0 #ccc; -moz-box-shadow: 0 2px 5px 0 #aaa, 0 2px 10px 0 #ccc; -webkit-box-shadow: 0 2px 5px 0 #aaa, 0 2px 10px 0 #ccc;}
.owl-button,.owl-button-hover{background-color: lightgray; color: white; padding: 15px 33px; text-align: center; display: inline-block; font-size: 16px; transition-duration: 0.7s; -webkit-transition-duration: 0.7s; border-radius: 0;}
.owl-button-hover:hover{background-color: gray;}
/*.owl-button-block class is deprecated and deleted.
Use only .owl-button-full class*/
.owl-button-full{background-color: lightgray; color: white; padding: 15px 33px; text-align: center; display: inline-block; font-size: 16px; width: 100%;}
.owl-button-circle{background-color: lightgray; color: white; padding: 15px 33px; text-align: center; display: inline-block; font-size: 16px; border-radius: 50%; position: right bottom; margin: 3px; z-index: 100;}

/*display*/
.owl-display-topleft{position: absolute; left: 0; top: 0;}
.owl-display-topright{position: absolute; right: 0; top: 0;}
.owl-display-bottomleft{position: absolute; left: 0; bottom: 0;}
.owl-display-bottomright{position: absolute; right: 0; bottom: 0;}
.owl-display-middle{position: absolute; top: 50%; left: 50%; transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
.owl-display-left{position: absolute; top: 50%; left: 0%; transform:translate(0%,-50%); -ms-transform:translate(-0%,-50%);}
.owl-display-right{position: absolute; top: 50%; right: 0%; transform:translate(0%,-50%); -ms-transform:translate(0%,-50%);}
.owl-display-topmiddle{position: absolute; left: 50%; top: 0; transform:translate(-50%,0%); -ms-transform:translate(-50%,0%);}
.owl-display-bottommiddle{position: absolute; left: 50%; bottom: 0; transform:translate(-50%,0%); -ms-transform:translate(-50%,0%);}
.owl-display-hover,.owl-display-none{display: none!important;}
.owl-display-hover:hover,.owl-display-block{display: block!important;}
/*.owl-display-position class is deprecated and deleted. Use .owl-pos-absolute or .owl-position-absolute*/
.owl-pos-absolute,.owl-position-absolute{position: absolute;}
.owl-pos-fixed,.owl-position-fixed{position: fixed;}
.owl-pos-relative,.owl-position-relative{position: relative;}
.owl-pos-static,.owl-position-static{position: static;}
.owl-pos-sticky,.owl-position-sticky{position: sticky;}
.owl-pos-inherit,.owl-position-inherit{position: inherit;}
.owl-float-left{float: left;}
.owl-float-right{float: right;}
.owl-clear,.owl-clear-both{clear: both;}
.owl-clear-left{clear: left;}
.owl-clear-right{clear: right;}
@media (max-width: 460px) {.owl-mobile{display: block; width: 100%;}}

/*animations*/
@keyframes top{  from{top: -300px; opacity: 0;}  to{top: 0px; opacity: 1;}}
.owl-animate-top{animation: top 0.4s;}
@keyframes bottom{  from{bottom: -300px; opacity: 0;}  to{bottom: 0px; opacity: 1;}}
.owl-animate-bottom{animation: bottom 0.4s;}
@keyframes left{  from{left: -300px; opacity: 0;}  to{left: 0px; opacity: 1;}}
.owl-animate-left{animation: left 0.4s;}
@keyframes right{  from{right: -300px; opacity: 0;}  to{right: 0px; opacity: 1;}}
.owl-animate-right{animation: right 0.4s;}
@keyframes opacity{  from{opacity: 0;}  to{opacity: 1;}}
.owl-animate-opacity{animation: opacity 1.5s;}
@keyframes zoom{  from{transform: scale(0);}  to{transform: scale(1);}}
.owl-animate-zoom{animation: zoom 2s;}
@keyframes fading{  0%{opacity: 0;}  50%{opacity: 1;}  100%{opacity: 0;}}
.owl-animate-fading{animation: fading 10s infinite;}
@keyframes spin{  0%{transform: rotate(0deg);}  100%{transform: rotate(359deg);}}
.owl-animate-spin{animation: spin 5s infinite linear;}
@keyframes rainbow{  0%{color: red;}  50%{color: green;}  100%{color: blue;}}
.owl-animate-rainbow{animation: rainbow 7.5s infinite;}

/*effects*/
/*Use only classes with number and .owl-hover- clases. Other (with min, max or without keyword) classes are deprecated and deleted*/
.owl-grayscale-0,.owl-hover-grayscale-0:hover{filter: grayscale(0%); -webkit-filter: grayscale(0%);}
.owl-grayscale-25,.owl-hover-grayscale-25:hover{filter: grayscale(25%); -webkit-filter: grayscale(25%);}
.owl-grayscale-50,.owl-hover-grayscale-50:hover{filter: grayscale(50%); -webkit-filter: grayscale(50%);}
.owl-grayscale-75,.owl-hover-grayscale-75:hover{filter: grayscale(75%); -webkit-filter: grayscale(75%);}
.owl-grayscale-100,.owl-hover-grayscale-100:hover{filter: grayscale(100%); -webkit-filter: grayscale(100%);}
.owl-sepia-0,.owl-hover-sepia-0:hover{filter: sepia(0%); -webkit-filter: sepia(0%);}
.owl-sepia-25,.owl-hover-sepia-25:hover{filter: sepia(25%); -webkit-filter: sepia(25%);}
.owl-sepia-50,.owl-hover-sepia-50:hover{filter: sepia(50%); -webkit-filter: sepia(50%);}
.owl-sepia-75,.owl-hover-sepia-75:hover{filter: sepia(75%); -webkit-filter: sepia(75%);}
.owl-sepia-100,.owl-hover-sepia-100:hover{filter: sepia(100%); -webkit-filter: sepia(100%);}
.owl-blur-0.owl-hover-blur-0:hover{filter: blur(0px); -webkit-filter: blur(0px);}
.owl-blur-1,.owl-hover-blur-1:hover{filter: blur(1px); -webkit-filter: blur(1px);}
.owl-blur-2,.owl-hover-blur-2:hover{filter: blur(2px); -webkit-filter: blur(2px);}
.owl-blur-3,.owl-hover-blur-3:hover{filter: blur(3px); -webkit-filter: blur(3px);}
.owl-blur-4,.owl-hover-blur-4:hover{filter: blur(4px); -webkit-filter: blur(4px);}
.owl-blur-5,.owl-hover-blur-5:hover{filter: blur(5px); -webkit-filter: blur(5px);}

/*opacity*/
/*Use only .owl-opacity-<number> or .owl-hover-opacity-<number> classes (<number> is opacity in percentages (0.1=10[%], 0.6=60[%], 1.0=100[%]))
Other is deprecated and deleted*/
.owl-opacity-10,.owl-hover-opacity-10:hover{opacity: 0.1;}
.owl-opacity-20,.owl-hover-opacity-20:hover{opacity: 0.2;}
.owl-opacity-30,.owl-hover-opacity-30:hover{opacity: 0.3;}
.owl-opacity-40,.owl-hover-opacity-40:hover{opacity: 0.4;}
.owl-opacity-50,.owl-hover-opacity-50:hover{opacity: 0.5;}
.owl-opacity-60,.owl-hover-opacity-60:hover{opacity: 0.6;}
.owl-opacity-70,.owl-hover-opacity-70:hover{opacity: 0.7;}
.owl-opacity-80,.owl-hover-opacity-80:hover{opacity: 0.8;}
.owl-opacity-90,.owl-hover-opacity-90:hover{opacity: 0.9;}
.owl-opacity-100,.owl-hover-opacity-100:hover{opacity: 1!important;}

/*bars*/
.owl-bar{width: 100%; overflow: hidden;}
.owl-text-center .owl-bar{display: inline-block; width: auto;}
.owl-bar .owl-bar-item{padding: 8px 16px; font-size: 16px; float: left; width: auto; border: none; outline: none; display: block;}
/*dropdown classes may not work*/
.owl-bar .owl-dropdown-container{position: relative; display: inline-block;}
.owl-bar .owl-dropdown-content{display: none; position: absolute; min-width: 160px; margin: 0; padding: 0;}
.owl-bar .owl-dropdown-container:hover .owl-dropdown-content{display: block; z-index: 3;}

/*tables*/
.owl-cell-container,.owl-table{display: table; width: 100%;}
.owl-cell-row{display: table-row;}
.owl-cell-column{display: table-column;}
.owl-cell{display: table-cell;}
.owl-cell-container::after,.owl-cell-container::before{content: ""; display: table; clear: both;}

/*lists*/
.owl-ul,.owl-ol{list-style-type: none; padding: 0; margin:0;}
.owl-ul li{padding: 8px 16px; border-bottom: 1px solid #ddd;}
.owl-ul li:last-child{border-bottom: none;}

/*inputs*/
.owl-input{padding: 8px; display: block; border: none; border-bottom: 1px solid #ccc; width: 100%;}

/*badges and tags*/
.owl-badge,.owl-tag{background-color: #000; color: #fff; display: inline-block; padding-left: 8px; padding-right: 8px; text-align: center;}
.owl-badge{border-radius: 50%;}

/*paddings*/
.owl-padding-10{padding: 10px;}.owl-padding-12{padding: 12px;}
.owl-padding-14{padding: 14px;}.owl-padding-16{padding: 16px;}
.owl-padding-18{padding: 18px;}.owl-padding-20{padding: 20px;}
.owl-padding-22{padding: 22px;}.owl-padding-24{padding: 24px;}
.owl-padding-26{padding: 26px;}.owl-padding-28{padding: 28px;}
.owl-padding-30{padding: 30px;}.owl-padding-32{padding: 32px;}
.owl-padding-34{padding: 34px;}.owl-padding-36{padding: 36px;}
.owl-padding-38{padding: 38px;}.owl-padding-40{padding: 40px;}
.owl-padding-42{padding: 42px;}.owl-padding-44{padding: 44px;}
.owl-padding-46{padding: 46px;}.owl-padding-48{padding: 48px;}
.owl-padding-50{padding: 50px;}.owl-padding-52{padding: 52px;}
.owl-padding-54{padding: 54px;}.owl-padding-56{padding: 56px;}
.owl-padding-58{padding: 58px;}.owl-padding-60{padding: 60px;}
.owl-padding-62{padding: 62px;}.owl-padding-64{padding: 64px;}

.owl-padding-top-10{padding-top: 10px;}.owl-padding-top-12{padding-top: 12px;}
.owl-padding-top-14{padding-top: 14px;}.owl-padding-top-16{padding-top: 16px;}
.owl-padding-top-18{padding-top: 18px;}.owl-padding-top-20{padding-top: 20px;}
.owl-padding-top-22{padding-top: 22px;}.owl-padding-top-24{padding-top: 24px;}
.owl-padding-top-26{padding-top: 26px;}.owl-padding-top-28{padding-top: 28px;}
.owl-padding-top-30{padding-top: 30px;}.owl-padding-top-32{padding-top: 32px;}
.owl-padding-top-34{padding-top: 34px;}.owl-padding-top-36{padding-top: 36px;}
.owl-padding-top-38{padding-top: 38px;}.owl-padding-top-40{padding-top: 40px;}
.owl-padding-top-42{padding-top: 42px;}.owl-padding-top-44{padding-top: 44px;}
.owl-padding-top-46{padding-top: 46px;}.owl-padding-top-48{padding-top: 48px;}
.owl-padding-top-50{padding-top: 50px;}.owl-padding-top-52{padding-top: 52px;}
.owl-padding-top-54{padding-top: 54px;}.owl-padding-top-56{padding-top: 56px;}
.owl-padding-top-58{padding-top: 58px;}.owl-padding-top-60{padding-top: 60px;}
.owl-padding-top-62{padding-top: 62px;}.owl-padding-top-64{padding-top: 64px;}

.owl-padding-bottom-10{padding-bottom: 10px;}.owl-padding-bottom-12{padding-bottom: 12px;}
.owl-padding-bottom-14{padding-bottom: 14px;}.owl-padding-bottom-16{padding-bottom: 16px;}
.owl-padding-bottom-18{padding-bottom: 18px;}.owl-padding-bottom-20{padding-bottom: 20px;}
.owl-padding-bottom-22{padding-bottom: 22px;}.owl-padding-bottom-24{padding-bottom: 24px;}
.owl-padding-bottom-26{padding-bottom: 26px;}.owl-padding-bottom-28{padding-bottom: 28px;}
.owl-padding-bottom-30{padding-bottom: 30px;}.owl-padding-bottom-32{padding-bottom: 32px;}
.owl-padding-bottom-34{padding-bottom: 34px;}.owl-padding-bottom-36{padding-bottom: 36px;}
.owl-padding-bottom-38{padding-bottom: 38px;}.owl-padding-bottom-40{padding-bottom: 40px;}
.owl-padding-bottom-42{padding-bottom: 42px;}.owl-padding-bottom-44{padding-bottom: 44px;}
.owl-padding-bottom-46{padding-bottom: 46px;}.owl-padding-bottom-48{padding-bottom: 48px;}
.owl-padding-bottom-50{padding-bottom: 50px;}.owl-padding-bottom-52{padding-bottom: 52px;}
.owl-padding-bottom-54{padding-bottom: 54px;}.owl-padding-bottom-56{padding-bottom: 56px;}
.owl-padding-bottom-58{padding-bottom: 58px;}.owl-padding-bottom-60{padding-bottom: 60px;}
.owl-padding-bottom-62{padding-bottom: 62px;}.owl-padding-bottom-64{padding-bottom: 64px;}

.owl-padding-left-10{padding-left: 10px;}.owl-padding-left-12{padding-left: 12px;}
.owl-padding-left-14{padding-left: 14px;}.owl-padding-left-16{padding-left: 16px;}
.owl-padding-left-18{padding-left: 18px;}.owl-padding-left-20{padding-left: 20px;}
.owl-padding-left-22{padding-left: 22px;}.owl-padding-left-24{padding-left: 24px;}
.owl-padding-left-26{padding-left: 26px;}.owl-padding-left-28{padding-left: 28px;}
.owl-padding-left-30{padding-left: 30px;}.owl-padding-left-32{padding-left: 32px;}
.owl-padding-left-34{padding-left: 34px;}.owl-padding-left-36{padding-left: 36px;}
.owl-padding-left-38{padding-left: 38px;}.owl-padding-left-40{padding-left: 40px;}
.owl-padding-left-42{padding-left: 42px;}.owl-padding-left-44{padding-left: 44px;}
.owl-padding-left-46{padding-left: 46px;}.owl-padding-left-48{padding-left: 48px;}
.owl-padding-left-50{padding-left: 50px;}.owl-padding-left-52{padding-left: 52px;}
.owl-padding-left-54{padding-left: 54px;}.owl-padding-left-56{padding-left: 56px;}
.owl-padding-left-58{padding-left: 58px;}.owl-padding-left-60{padding-left: 60px;}
.owl-padding-left-62{padding-left: 62px;}.owl-padding-left-64{padding-left: 64px;}

.owl-padding-right-10{padding-right: 10px;}.owl-padding-right-12{padding-right: 12px;}
.owl-padding-right-14{padding-right: 14px;}.owl-padding-right-16{padding-right: 16px;}
.owl-padding-right-18{padding-right: 18px;}.owl-padding-right-20{padding-right: 20px;}
.owl-padding-right-22{padding-right: 22px;}.owl-padding-right-24{padding-right: 24px;}
.owl-padding-right-26{padding-right: 26px;}.owl-padding-right-28{padding-right: 28px;}
.owl-padding-right-30{padding-right: 30px;}.owl-padding-right-32{padding-right: 32px;}
.owl-padding-right-34{padding-right: 34px;}.owl-padding-right-36{padding-right: 36px;}
.owl-padding-right-38{padding-right: 38px;}.owl-padding-right-40{padding-right: 40px;}
.owl-padding-right-42{padding-right: 42px;}.owl-padding-right-44{padding-right: 44px;}
.owl-padding-right-46{padding-right: 46px;}.owl-padding-right-48{padding-right: 48px;}
.owl-padding-right-50{padding-right: 50px;}.owl-padding-right-52{padding-right: 52px;}
.owl-padding-right-54{padding-right: 54px;}.owl-padding-right-56{padding-right: 56px;}
.owl-padding-right-58{padding-right: 58px;}.owl-padding-right-60{padding-right: 60px;}
.owl-padding-right-62{padding-right: 62px;}.owl-padding-right-64{padding-right: 64px;}

.owl-padding-normal,.owl-padding{padding-top: 8px; padding-bottom: 8px; padding-left: 16px; padding-right: 16px;}
.owl-padding-small{padding-top: 4px; padding-bottom: 4px; padding-left: 8px; padding-right: 8px;}
.owl-padding-large{padding-top: 12px; padding-bottom: 12px; padding-left: 24px; padding-right: 24px;}

/*margins*/
.owl-margin{margin: 16px;}
.owl-margin-left{margin-left: 16px;}
.owl-margin-right{margin-right: 16px;}
.owl-margin-top{margin-top: 16px;}
.owl-margin-bottom{margin-bottom: 16px;}
/*.owl-section is deprecated and deleted class. Use only .owl-margin-topbottom class*/
.owl-margin-topbottom{margin-top: 16px; margin-bottom: 16px;}
.owl-margin-leftright{margin-left: 16px; margin-right: 16px;}

.owl-margin-10{margin: 10px;}.owl-margin-12{margin: 12px;}
.owl-margin-14{margin: 14px;}.owl-margin-16{margin: 16px;}
.owl-margin-18{margin: 18px;}.owl-margin-20{margin: 20px;}
.owl-margin-22{margin: 22px;}.owl-margin-24{margin: 24px;}
.owl-margin-26{margin: 26px;}.owl-margin-28{margin: 28px;}
.owl-margin-30{margin: 30px;}.owl-margin-32{margin: 32px;}
.owl-margin-34{margin: 34px;}.owl-margin-36{margin: 36px;}
.owl-margin-38{margin: 38px;}.owl-margin-40{margin: 40px;}
.owl-margin-42{margin: 42px;}.owl-margin-44{margin: 44px;}
.owl-margin-46{margin: 46px;}.owl-margin-48{margin: 48px;}
.owl-margin-50{margin: 50px;}.owl-margin-52{margin: 52px;}
.owl-margin-54{margin: 54px;}.owl-margin-56{margin: 56px;}
.owl-margin-58{margin: 58px;}.owl-margin-60{margin: 60px;}
.owl-margin-62{margin: 62px;}.owl-margin-64{margin: 64px;}

.owl-margin-top-10{margin-top: 10px;}.owl-margin-top-12{margin-top: 12px;}
.owl-margin-top-14{margin-top: 14px;}.owl-margin-top-16{margin-top: 16px;}
.owl-margin-top-18{margin-top: 18px;}.owl-margin-top-20{margin-top: 20px;}
.owl-margin-top-22{margin-top: 22px;}.owl-margin-top-24{margin-top: 24px;}
.owl-margin-top-26{margin-top: 26px;}.owl-margin-top-28{margin-top: 28px;}
.owl-margin-top-30{margin-top: 30px;}.owl-margin-top-32{margin-top: 32px;}
.owl-margin-top-34{margin-top: 34px;}.owl-margin-top-36{margin-top: 36px;}
.owl-margin-top-38{margin-top: 38px;}.owl-margin-top-40{margin-top: 40px;}
.owl-margin-top-42{margin-top: 42px;}.owl-margin-top-44{margin-top: 44px;}
.owl-margin-top-46{margin-top: 46px;}.owl-margin-top-48{margin-top: 48px;}
.owl-margin-top-50{margin-top: 50px;}.owl-margin-top-52{margin-top: 52px;}
.owl-margin-top-54{margin-top: 54px;}.owl-margin-top-56{margin-top: 56px;}
.owl-margin-top-58{margin-top: 58px;}.owl-margin-top-60{margin-top: 60px;}
.owl-margin-top-62{margin-top: 62px;}.owl-margin-top-64{margin-top: 64px;}

.owl-margin-bottom-10{margin-bottom: 10px;}.owl-margin-bottom-12{margin-bottom: 12px;}
.owl-margin-bottom-14{margin-bottom: 14px;}.owl-margin-bottom-16{margin-bottom: 16px;}
.owl-margin-bottom-18{margin-bottom: 18px;}.owl-margin-bottom-20{margin-bottom: 20px;}
.owl-margin-bottom-22{margin-bottom: 22px;}.owl-margin-bottom-24{margin-bottom: 24px;}
.owl-margin-bottom-26{margin-bottom: 26px;}.owl-margin-bottom-28{margin-bottom: 28px;}
.owl-margin-bottom-30{margin-bottom: 30px;}.owl-margin-bottom-32{margin-bottom: 32px;}
.owl-margin-bottom-34{margin-bottom: 34px;}.owl-margin-bottom-36{margin-bottom: 36px;}
.owl-margin-bottom-38{margin-bottom: 38px;}.owl-margin-bottom-40{margin-bottom: 40px;}
.owl-margin-bottom-42{margin-bottom: 42px;}.owl-margin-bottom-44{margin-bottom: 44px;}
.owl-margin-bottom-46{margin-bottom: 46px;}.owl-margin-bottom-48{margin-bottom: 48px;}
.owl-margin-bottom-50{margin-bottom: 50px;}.owl-margin-bottom-52{margin-bottom: 52px;}
.owl-margin-bottom-54{margin-bottom: 54px;}.owl-margin-bottom-56{margin-bottom: 56px;}
.owl-margin-bottom-58{margin-bottom: 58px;}.owl-margin-bottom-60{margin-bottom: 60px;}
.owl-margin-bottom-62{margin-bottom: 62px;}.owl-margin-bottom-64{margin-bottom: 64px;}

.owl-margin-left-10{margin-left: 10px;}.owl-margin-left-12{margin-left: 12px;}
.owl-margin-left-14{margin-left: 14px;}.owl-margin-left-16{margin-left: 16px;}
.owl-margin-left-18{margin-left: 18px;}.owl-margin-left-20{margin-left: 20px;}
.owl-margin-left-22{margin-left: 22px;}.owl-margin-left-24{margin-left: 24px;}
.owl-margin-left-26{margin-left: 26px;}.owl-margin-left-28{margin-left: 28px;}
.owl-margin-left-30{margin-left: 30px;}.owl-margin-left-32{margin-left: 32px;}
.owl-margin-left-34{margin-left: 34px;}.owl-margin-left-36{margin-left: 36px;}
.owl-margin-left-38{margin-left: 38px;}.owl-margin-left-40{margin-left: 40px;}
.owl-margin-left-42{margin-left: 42px;}.owl-margin-left-44{margin-left: 44px;}
.owl-margin-left-46{margin-left: 46px;}.owl-margin-left-48{margin-left: 48px;}
.owl-margin-left-50{margin-left: 50px;}.owl-margin-left-52{margin-left: 52px;}
.owl-margin-left-54{margin-left: 54px;}.owl-margin-left-56{margin-left: 56px;}
.owl-margin-left-58{margin-left: 58px;}.owl-margin-left-60{margin-left: 60px;}
.owl-margin-left-62{margin-left: 62px;}.owl-margin-left-64{margin-left: 64px;}

.owl-margin-right-10{margin-right: 10px;}.owl-margin-right-12{margin-right: 12px;}
.owl-margin-right-14{margin-right: 14px;}.owl-margin-right-16{margin-right: 16px;}
.owl-margin-right-18{margin-right: 18px;}.owl-margin-right-20{margin-right: 20px;}
.owl-margin-right-22{margin-right: 22px;}.owl-margin-right-24{margin-right: 24px;}
.owl-margin-right-26{margin-right: 26px;}.owl-margin-right-28{margin-right: 28px;}
.owl-margin-right-30{margin-right: 30px;}.owl-margin-right-32{margin-right: 32px;}
.owl-margin-right-34{margin-right: 34px;}.owl-margin-right-36{margin-right: 36px;}
.owl-margin-right-38{margin-right: 38px;}.owl-margin-right-40{margin-right: 40px;}
.owl-margin-right-42{margin-right: 42px;}.owl-margin-right-44{margin-right: 44px;}
.owl-margin-right-46{margin-right: 46px;}.owl-margin-right-48{margin-right: 48px;}
.owl-margin-right-50{margin-right: 50px;}.owl-margin-right-52{margin-right: 52px;}
.owl-margin-right-54{margin-right: 54px;}.owl-margin-right-56{margin-right: 56px;}
.owl-margin-right-58{margin-right: 58px;}.owl-margin-right-60{margin-right: 60px;}
.owl-margin-right-62{margin-right: 62px;}.owl-margin-right-64{margin-right: 64px;}

/*borders*/
.owl-border-none,.owl-hover-border-none:hover{border: 0;}
.owl-border,.owl-hover-border:hover{border: 1px solid #ccc;}
.owl-border-top,.owl-hover-border-top:hover{border-top: 1px solid #ccc;}
.owl-border-bottom,.owl-hover-border-bottom:hover{border-bottom: 1px solid #ccc;}
.owl-border-left,.owl-hover-border-left:hover{border-left: 1px solid #ccc;}
.owl-border-right,.owl-hover-border-right:hover{border-right: 1px solid #ccc;}
.owl-border-top-medium,.owl-hover-border-top-medium:hover{border-top: 3px solid #ccc;}
.owl-border-bottom-medium,.owl-hover-border-bottom-medium:hover{border-bottom: 3px solid #ccc;}
.owl-border-left-medium,.owl-hover-bottom-medium:hover{border-left: 3px solid #ccc;}
.owl-border-right-medium,.owl-hover-right-medium:hover{border-right: 3px solid #ccc;}
.owl-border-top-thick,.owl-hover-border-top-thick:hover{border-top: 6px solid #ccc;}
.owl-border-bottom-thick,.owl-hover-border-bottom-thick:hover{border-bottom: 6px solid #ccc;}
.owl-border-left-thick,.owl-hover-bottom-thick:hover{border-left: 6px solid #ccc;}
.owl-border-right-thick,.owl-hover-right-thick:hover{border-right: 6px solid #ccc;}

/*border round*/
/*.owl-round- classes are deprecated and deleted. Use only .owl-border-round- and .owl-circle classes.*/
.owl-border-round,.owl-border-round-medium{border-radius: 4px;}
.owl-border-round-xsmall{border-radius: 1px;}
.owl-border-round-small{border-radius: 2px;}
.owl-border-round-medium{border-radius: 4px;}
.owl-border-round-large{border-radius: 8px;}
.owl-border-round-xlarge{border-radius: 16px;}
.owl-border-round-xxlarge{border-radius: 24px;}
.owl-border-round-xxxlarge{border-radius: 36px;}
.owl-circle,.owl-border-round-circle{border-radius: 50%}

/*border colors*/
.owl-border-red,.owl-hover-border-red:hover{border-color: red!important;}
.owl-border-green,.owl-hover-border-green:hover{border-color: green!important;}
.owl-border-blue,.owl-hover-border-blue:hover{border-color: blue!important;}
.owl-border-yellow,.owl-hover-border-yellow:hover{border-color: yellow!important;}
.owl-border-white,.owl-hover-border-white:hover{border-color: white!important;}
.owl-border-black,.owl-hover-border-black:hover{border-color: black!important;}
.owl-border-gray,.owl-hover-border-gray:hover{border-color: gray!important;}

/*text and inline-block elements*/
/*Don't use .owl-right, .owl-left, .owl-center, .owl-justify and .owl-wide
classes to style text elements. Use it only for styling inline-block elements*/
.owl-text-align-right,.owl-right{text-align: right!important;}
.owl-text-align-left,.owl-left{text-align: left!important;}
.owl-text-center,.owl-center{text-align: center!important;}
.owl-text-justify,.owl-justify{text-align: justify!important;}
.owl-text-xxshort{letter-spacing: 1px;}
.owl-text-xshort{letter-spacing: 2px;}
.owl-text-short{letter-spacing: 3px;}
.owl-text-normal{letter-spacing: normal;}
.owl-text-wide,.owl-wide{letter-spacing: 4px;}
.owl-text-xwide{letter-spacing: 6px;}
.owl-text-xxwide{letter-spacing: 8px;}
.owl-text-serif{font-family: serif!important;}
.owl-text-sans-serif{font-family: sans-serif!important;}
.owl-text-monospace{font-family: monospace!important;}
.owl-text-cursive{font-family: cursive!important;}
.owl-text-fantasy{font-family: fantasy!important;}
.owl-font-family-consolas{font-family: Consolas, "courier new";}
.owl-font-family-arial{font-family: Arial, sans-serif;}
.owl-font-family-verdana{font-family: Verdana, sans-serif;}
.owl-font-family-timesnewroman,.owl-text-family-times-new-roman{font-family: "Times New Roman";}
.owl-font-stretch-condensed,.owl-font-condensed{font-stretch: condensed!important;}
.owl-font-stretch-expanded,.owl-font-expanded{font-stretch: expanded!important;}
.owl-font-stretch-extra-condensed,.owl-font-extra-condensed{font-stretch: extra-condensed!important;}
.owl-font-stretch-extra-expanded,.owl-font-extra-condensed{font-stretch: extra-expanded!important;}
.owl-font-stretch-normal,.owl-font-normal{font-stretch: normal!important;}
.owl-font-stretch-semi-condensed,.owl-font-semi-condensed{font-stretch: semi-condensed!important;}
.owl-font-stretch-semi-expanded,.owl-font-semi-expanded{font-stretch: semi-expanded!important;}
.owl-font-stretch-ultra-condensed,.owl-font-ultra-condensed{font-stretch: ultra-condensed!important;}
.owl-font-stretch-ultra-expanded,.owl-font-ultra-expanded{font-stretch: ultra-expanded!important;}

/*word wrap and word break*/
.owl-word-wrap-break{word-wrap: break-word!important;}
.owl-word-wrap-normal{word-wrap: normal!important;}
.owl-word-break-normal{word-break: normal!important;}
.owl-word-break-all{word-break: break-all!important;}
.owl-word-break-keep-all,.owl-text-break-keep{word-break: keep-all!important;}

/*line height*/
/*10=1 15=1.5 20=2 25=2.5 30=3 35=3.5 40=4 45=4.5 50=5*/
.owl-line-height-normal{line-height: normal;}
.owl-line-height-10,.owl-line-height-1{line-height: 1;}
.owl-line-height-15{line-height: 1.5;}
.owl-line-height-20,.owl-line-height-2{line-height: 2;}
.owl-line-height-25{line-height: 2.5;}
.owl-line-height-30,.owl-line-height-3{line-height: 3;}
.owl-line-height-35{line-height: 3.5;}
.owl-line-height-40,.owl-line-height-4{line-height: 4;}
.owl-line-height-45{line-height: 4.5;}
.owl-line-height-50,.owl-line-height-5{line-height: 5;}

/*text colors*/
.owl-text-red,.owl-hover-text-red:hover{color: red!important;}
.owl-text-green,.owl-hover-text-green:hover{color: green!important;}
.owl-text-blue,.owl-hover-text-blue:hover{color: blue!important;}
.owl-text-yellow,.owl-hover-text-yellow:hover{color: yellow!important;}
.owl-text-white,.owl-hover-text-white:hover{color: white!important;}
.owl-text-black,.owl-hover-text-black:hover{color: black!important;}
.owl-text-gray,.owl-hover-text-gray:hover{color: gray!important;}

/*background gradients*/
.owl-gradient-rainbow{
  background: -webkit-linear-gradient(left, #ff6666, #ff8c66, #ffb366, #ffd966, #ffff66, #d9ff66, #b3ff66, #8cff66, #66ff66, #66ff8c, #66ffb3, #66ffd9, #66ffff, #66d9ff, #66b3ff, #668cff, #6666ff, #8c66ff, #9966ff, #b366ff, #d966ff, #ff66ff, #ff66d9, #ff66b3, #ff668c, #ff6666);
  background: -o-linear-gradient(right, #ff6666, #ff8c66, #ffb366, #ffd966, #ffff66, #d9ff66, #b3ff66, #8cff66, #66ff66, #66ff8c, #66ffb3, #66ffd9, #66ffff, #66d9ff, #66b3ff, #668cff, #6666ff, #8c66ff, #9966ff, #b366ff, #d966ff, #ff66ff, #ff66d9, #ff66b3, #ff668c, #ff6666);
  background: -moz-linear-gradient(right, #ff6666, #ff8c66, #ffb366, #ffd966, #ffff66, #d9ff66, #b3ff66, #8cff66, #66ff66, #66ff8c, #66ffb3, #66ffd9, #66ffff, #66d9ff, #66b3ff, #668cff, #6666ff, #8c66ff, #9966ff, #b366ff, #d966ff, #ff66ff, #ff66d9, #ff66b3, #ff668c, #ff6666);
  background: linear-gradient(to right, #ff6666, #ff8c66, #ffb366, #ffd966, #ffff66, #d9ff66, #b3ff66, #8cff66, #66ff66, #66ff8c, #66ffb3, #66ffd9, #66ffff, #66d9ff, #66b3ff, #668cff, #6666ff, #8c66ff, #9966ff, #b366ff, #d966ff, #ff66ff, #ff66d9, #ff66b3, #ff668c, #ff6666);
}

/*background colors*/
.owl-aqua,.owl-hover-aqua:hover{background-color: aqua!important; color: black!important;}
.owl-aquamarine,.owl-hover-aquamarine:hover{background-color: aquamarine!important; color: black!important;}
.owl-bisque,.owl-hover-bisque:hover{background-color: bisque!important; color: black!important;}
.owl-black,.owl-hover-black:hover{background-color: black!important; color: white!important;}
.owl-blue,.owl-hover-blue:hover{background-color: blue!important; color: white!important;}
.owl-blue-violet,.owl-hover-blue-violet:hover{background-color: blueviolet!important; color: white!important;}
.owl-brown,.owl-hover-brown:hover{background-color: brown!important; color: white!important;}
.owl-green-neon,.owl-hover-green-neon:hover{background-color: chartreuse!important; color: black!important;}
.owl-chocolate,.owl-hover-chocolate:hover{background-color: chocolate!important; color: white!important;}
.owl-blue-cornflower,.owl-hover-blue-cornflower:hover{background-color: cornflowerblue!important; color: white!important;}
.owl-crimson,.owl-hover-crimson:hover{background-color: crimson!important; color: white!important;}
.owl-cyan,.owl-hover-cyan:hover{background-color: cyan!important; color: black!important;}
.owl-blue-dark,.owl-hover-blue-dark:hover{background-color: darkblue!important; color: white!important;}
.owl-cyan-dark,.owl-hover-cyan-dark:hover{background-color: darkcyan!important; color: white!important;}
.owl-golden-rod-dark,.owl-hover-golden-rod-dark:hover{background-color: darkgoldenrod!important; color: white!important;}
.owl-gray-dark,.owl-hover-gray-dark:hover{background-color: darkgray!important; color: white!important;}
.owl-green-dark,.owl-hover-green-dark:hover{background-color: darkgreen!important; color: white!important;}
.owl-khaki-dark,.owl-hover-khaki-dark:hover{background-color: darkkhaki!important; color: black!important;}
.owl-magenta-dark,.owl-hover-magenta-dark:hover{background-color: darkmagenta!important; color: white!important;}
.owl-green-olive-dark,.owl-hover-green-olive-dark:hover{background-color: darkolivegreen!important; color: white!important;}
.owl-orange-dark,.owl-hover-orange-dark:hover{background-color: darkorange!important; color: black!important;}
.owl-orchid-dark,.owl-hover-orchid-dark:hover{background-color: darkorchid!important; color: white!important;}
.owl-red-dark,.owl-hover-red-dark:hover{background-color: darkred!important; color: white!important;}
.owl-salmon-dark,.owl-hover-salmon-dark:hover{background-color: darksalmon!important; color: black!important;}
.owl-green-sea-dark,.owl-hover-green-sea-dark:hover{background-color: darkseagreen!important; color: black!important;}
.owl-gray-slate-dark,.owl-hover-gray-slate-dark:hover{background-color: darkslategray!important; color: white!important;}
.owl-turquoise,.owl-hover-turquoise:hover{background-color: turquoise!important; color: black!important;}
.owl-violet-dark,.owl-hover-violet-dark:hover{background-color: darkviolet!important; color: white!important;}
.owl-pink,.owl-hover-pink:hover{background-color: deeppink!important; color: white!important;}
.owl-pale-pink,.owl-hover-pale-pink:hover{background-color: pink!important; color: black!important;}
.owl-blue-sky-deep,.owl-hover-blue-sky-deep:hover{background-color: deepskyblue!important; color: white!important;}
.owl-gray-dim,.owl-hover-gray-dim:hover{background-color: dimgray!important; color: white!important;}
.owl-blue-dodger,.owl-hover-blue-dodger:hover{background-color: dodgerblue!important; color: white!important;}
.owl-fire-brick,.owl-hover-fire-brick:hover{background-color: firebrick!important; color: white!important;}
.owl-green-forest,.owl-hover-green-forest:hover{background-color: forestgreen!important; color: white!important;}
.owl-fuchsia,.owl-hover-fuchsia:hover{background-color: fuchsia!important; color: white!important;}
.owl-gold,.owl-hover-gold:hover{background-color: gold!important; color: black!important;}
.owl-golden-rod,.owl-hover-golden-rod:hover{background-color: goldenrod!important; color: white!important;}
.owl-gray,.owl-hover-gray:hover{background-color: gray!important; color: white!important;}
.owl-green,.owl-hover-green:hover{background-color: green!important; color: white!important;}
.owl-green-yellow,.owl-hover-green-yellow:hover{background-color: greenyellow!important; color: black!important;}
.owl-honey-dew,.owl-hover-honey-dew:hover{background-color: honeydew!important; color: black!important;}
.owl-pink-hot,.owl-hover-pink-hot:hover{background-color: hotpink!important; color: black!important;}
.owl-red-indian,.owl-hover-red-indian:hover{background-color: indianred!important; color: white!important;}
.owl-indigo,.owl-hover-indigo:hover{background-color: indigo!important; color: white!important;}
.owl-khaki,.owl-hover-khaki:hover{background-color: khaki!important; color: black!important;}
.owl-lavender,.owl-hover-lavender:hover{background-color: lavender!important; color: black!important;}
.owl-blue-light,.owl-hover-blue-light:hover{background-color: lightblue!important; color: black!important;}
.owl-coral,.owl-hover-coral:hover{background-color: lightcoral!important; color: black!important;}
.owl-cyan-light,.owl-hover-cyan-light:hover{background-color: lightcyan!important; color: black!important;}
.owl-gray-light,.owl-hover-gray-light:hover{background-color: lightgray!important; color: black!important;}
.owl-green-light,.owl-hover-green-light:hover{background-color: lightgreen!important; color: black!important;}
.owl-pink-light,.owl-hover-pink-light:hover{background-color: lightpink!important; color: black!important;}
.owl-salmon-light,.owl-hover-salmon-light:hover{background-color: lightsalmon!important; color: white!important;}
.owl-green-sea-light,.owl-hover-green-sea-light:hover{background-color: lightseagreen!important; color: white!important;}
.owl-blue-sky-light,.owl-hover-blue-sky-light:hover{background-color: lightskyblue!important; color: black!important;}
.owl-gray-slate-light,.owl-hover-gray-slate-light:hover{background-color: lightslategray!important; color: white!important;}
.owl-blue-steel-light,.owl-hover-blue-steel-light:hover{background-color: lightsteelblue!important; color: white!important;}
.owl-lime,.owl-hover-lime:hover{background-color: lime!important; color: black!important;}
.owl-green-lime,.owl-hover-green-lime:hover{background-color: limegreen!important; color: white!important;}
.owl-magenta,.owl-hover-magenta:hover{background-color: magenta!important; color: white!important;}
.owl-maroon,.owl-hover-maroon:hover{background-color: maroon!important; color: white!important;}
.owl-navy,.owl-hover-navy:hover{background-color: navy!important; color: white!important;}
.owl-olive,.owl-hover-olive:hover{background-color: olive!important; color: white!important;}
.owl-orange,.owl-hover-orange:hover{background-color: orange!important; color: black!important;}
.owl-orange-red,.owl-hover-orange-red:hover{background-color: orangered!important; color: white!important;}
.owl-orchid,.owl-hover-orchid:hover{background-color: orchid!important; color: white!important;}
.owl-pale-golden-rod,.owl-hover-pale-golden-rod:hover{background-color: palegoldenrod!important; color: black!important;}
.owl-pale-green,.owl-hover-pale-green:hover{background-color: palegreen!important; color: black!important;}
.owl-pale-blue,.owl-hover-pale-blue:hover{background-color: paleturquoise!important; color: black!important;}
.owl-purple,.owl-hover-purple:hover{background-color: purple!important; color : white!important;}
.owl-red,.owl-hover-red:hover{background-color: red!important; color: white!important;}
.owl-brown-saddle,.owl-hover-brown-saddle:hover{background-color: saddlebrown!important; color: white!important;}
.owl-green-sea,.owl-hover-green-sea:hover{background-color: seagreen!important; color: white!important;}
.owl-sienna,.owl-hover-sienna:hover{background-color: sienna!important; color: white!important;}
.owl-silver,.owl-hover-silver:hover{background-color: silver!important; color: black!important;}
.owl-blue-sky,.owl-hover-blue-sky:hover{background-color: skyblue!important; color: black!important;}
.owl-gray-slate,.owl-hover-gray-slate:hover{background-color: slategray!important; color: white!important;}
.owl-blue-steel,.owl-hover-blue-steel:hover{background-color: steelblue!important; color: white!important;}
.owl-teal,.owl-hover-teal:hover{background-color: teal!important; color: white!important;}
.owl-violet,.owl-hover-violet:hover{background-color: violet!important; color: black!important;}
.owl-yellow,.owl-hover-yellow:hover{background-color: yellow!important; color: black!important;}

/*Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/*End*/
