/*OwlRWD CSS 1.2 GRID by Kamil Dudar*/
/*This file contains only grids*/
/*Github repository: http://www.owlr.github.io/owl-rwd*/
/*GitLab repository: https://gitlab.com/Owlr/owl-rwd*/

/*Basic columns*/
/*Columns: n (normal), xs, s, m ,l ,xl*/

.owl-col-n1 {
  width: 8.33%;
}

.owl-col-n2 {
  width: 16.66%;
}

.owl-col-n3 {
  width: 25%;
}

.owl-col-n4 {
  width: 33.33%;
}

.owl-col-n5 {
  width: 41.66%;
}

.owl-col-n6 {
  width: 50%;
}

.owl-col-n8 {
  width: 58.33%;
}

.owl-col-n7 {
  width: 66.66%;
}

.owl-col-n9 {
  width: 75%;
}

.owl-col-n10 {
  width: 83.33%;
}

.owl-col-n11 {
  width: 91.66%;
}

.owl-col-n12 {
  width: 100%;
}

@media only screen and (max-width: 389.9px) {
  [class*="owl-col-"], [class*="owl-col-alt-"] {
    width: 100%;
  }
}

@media (min-width: 390px) {
  .owl-col-xs1 {
    width: 8.33%;
  }
  .owl-col-xs2 {
    width: 16.66%;
  }
  .owl-col-xs3 {
    width: 25%;
  }
  .owl-col-xs4 {
    width: 33.33%;
  }
  .owl-col-xs5 {
    width: 41.66%;
  }
  .owl-col-xs6 {
    width: 50%;
  }
  .owl-col-xs8 {
    width: 58.33%;
  }
  .owl-col-xs7 {
    width: 66.66%;
  }
  .owl-col-xs9 {
    width: 75%;
  }
  .owl-col-xs10 {
    width: 83.33%;
  }
  .owl-col-xs11 {
    width: 91.66%;
  }
  .owl-col-xs12 {
    width: 100%;
  }
}

@media (min-width: 520px) {
  .owl-col-s1 {
    width: 8.33%;
  }
  .owl-col-s2 {
    width: 16.66%;
  }
  .owl-col-s3 {
    width: 25%;
  }
  .owl-col-s4 {
    width: 33.33%;
  }
  .owl-col-s5 {
    width: 41.66%;
  }
  .owl-col-s6 {
    width: 50%;
  }
  .owl-col-s8 {
    width: 58.33%;
  }
  .owl-col-s7 {
    width: 66.66%;
  }
  .owl-col-s9 {
    width: 75%;
  }
  .owl-col-s10 {
    width: 83.33%;
  }
  .owl-col-s11 {
    width: 91.66%;
  }
  .owl-col-s12 {
    width: 100%;
  }
}

@media (min-width: 728px) {
  .owl-col-m1 {
    width: 8.33%;
  }
  .owl-col-m2 {
    width: 16.66%;
  }
  .owl-col-m3 {
    width: 25%;
  }
  .owl-col-m4 {
    width: 33.33%;
  }
  .owl-col-m5 {
    width: 41.66%;
  }
  .owl-col-m6 {
    width: 50%;
  }
  .owl-col-m8 {
    width: 58.33%;
  }
  .owl-col-m7 {
    width: 66.66%;
  }
  .owl-col-m9 {
    width: 75%;
  }
  .owl-col-m10 {
    width: 83.33%;
  }
  .owl-col-m11 {
    width: 91.66%;
  }
  .owl-col-m12 {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .owl-col-l1 {
    width: 8.33%;
  }
  .owl-col-l2 {
    width: 16.66%;
  }
  .owl-col-l3 {
    width: 25%;
  }
  .owl-col-l4 {
    width: 33.33%;
  }
  .owl-col-l5 {
    width: 41.66%;
  }
  .owl-col-l6 {
    width: 50%;
  }
  .owl-col-l8 {
    width: 58.33%;
  }
  .owl-col-l7 {
    width: 66.66%;
  }
  .owl-col-l9 {
    width: 75%;
  }
  .owl-col-l10 {
    width: 83.33%;
  }
  .owl-col-l11 {
    width: 91.66%;
  }
  .owl-col-l12 {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .owl-col-xl1 {
    width: 8.33%;
  }
  .owl-col-xl2 {
    width: 16.66%;
  }
  .owl-col-xl3 {
    width: 25%;
  }
  .owl-col-xl4 {
    width: 33.33%;
  }
  .owl-col-xl5 {
    width: 41.66%;
  }
  .owl-col-xl6 {
    width: 50%;
  }
  .owl-col-xl8 {
    width: 58.33%;
  }
  .owl-col-xl7 {
    width: 66.66%;
  }
  .owl-col-xl9 {
    width: 75%;
  }
  .owl-col-xl10 {
    width: 83.33%;
  }
  .owl-col-xl11 {
    width: 91.66%;
  }
  .owl-col-xl12 {
    width: 100%;
  }
}

[class*="owl-col-"], [class*="owl-col-alt-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*10-column grid*/
/*Columns: n (normal), s, m, l*/

.owl-col-alt-n1 {
  width: 10%;
}

.owl-col-alt-n2 {
  width: 20%;
}

.owl-col-alt-n3 {
  width: 30%;
}

.owl-col-alt-n4 {
  width: 40%;
}

.owl-col-alt-n5 {
  width: 50%;
}

.owl-col-alt-n6 {
  width: 60%;
}

.owl-col-alt-n7 {
  width: 70%;
}

.owl-col-alt-n8 {
  width: 80%;
}

.owl-col-alt-n9 {
  width: 90%;
}

.owl-col-alt-n10 {
  width: 100%;
}

@media (min-width: 520px) {
  .owl-col-alt-s1 {
    width: 10%;
  }
  .owl-col-alt-s2 {
    width: 20%;
  }
  .owl-col-alt-s3 {
    width: 30%;
  }
  .owl-col-alt-s4 {
    width: 40%;
  }
  .owl-col-alt-s5 {
    width: 50%;
  }
  .owl-col-alt-s6 {
    width: 60%;
  }
  .owl-col-alt-s7 {
    width: 70%;
  }
  .owl-col-alt-s8 {
    width: 80%;
  }
  .owl-col-alt-s9 {
    width: 90%;
  }
  .owl-col-alt-s10 {
    width: 100%;
  }
}

@media (min-width: 728px) {
  .owl-col-alt-m1 {
    width: 10%;
  }
  .owl-col-alt-m2 {
    width: 20%;
  }
  .owl-col-alt-m3 {
    width: 30%;
  }
  .owl-col-alt-m4 {
    width: 40%;
  }
  .owl-col-alt-m5 {
    width: 50%;
  }
  .owl-col-alt-m6 {
    width: 60%;
  }
  .owl-col-alt-m7 {
    width: 70%;
  }
  .owl-col-alt-m8 {
    width: 80%;
  }
  .owl-col-alt-m9 {
    width: 90%;
  }
  .owl-col-alt-m10 {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .owl-col-alt-l1 {
    width: 10%;
  }
  .owl-col-alt-l2 {
    width: 20%;
  }
  .owl-col-alt-l3 {
    width: 30%;
  }
  .owl-col-alt-l4 {
    width: 40%;
  }
  .owl-col-alt-l5 {
    width: 50%;
  }
  .owl-col-alt-l6 {
    width: 60%;
  }
  .owl-col-alt-l7 {
    width: 70%;
  }
  .owl-col-alt-l8 {
    width: 80%;
  }
  .owl-col-alt-l9 {
    width: 90%;
  }
  .owl-col-alt-l10 {
    width: 100%;
  }
}
