/*OwlRWD CSS.TAG 1.1 by Kamil Dudar*/
/*OwlRWD CSS 1.2 not required*/
/*This file styles only html tags, no css classes*/
/*Github repository: http://www.owlr.github.io/owl-rwd*/
/*GitLab repository: https://gitlab.com/Owlr/owl-rwd*/

a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: black;
    text-decoration: underline;
    .nohover {
      color: black;
      text-decoration: none;
    }
  }
}

address {
  font-family: sans-serif !important;
}

blockquote {
  background-color: #e6e6ff;
  border-left: 6px solid #ccccff;
  font-family: serif;
  font-size: 32px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 18px;
  padding-right: 18px;
}

button {
  background-color: lightgray;
  color: white;
  padding: 15px 33px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border: 0;
  &:hover {
    background-color: gray;
  }
}

code {
  background-color: #ccc;
  color: black;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin: 2px;
  .owl-tag-code-red {
    background-color: #ccc;
    color: #ff3333;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    margin: 2px;
  }
}

footer {
  padding: 5px;
}

details {
  padding: 3px;
}

dt {
  margin-left: 20px;
}

input, textarea, select, fieldset {
  border-radius: 3px;
  background-color: #ccc;
  color: black;
  padding: 3px;
}

option, optgroup {
  background-color: #ccc;
  color: black;
  padding: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

iframe {
  border: 0;
  border-radius: 3px;
}

caption {
  font-weight: bold !important;
  font-family: sans-serif !important;
  font-size: 2.75em;
}

table {
  border: 2px solid gray;
  border-radius: 2px;
  border-spacing: 0;
}

tr, td, th {
  border: 2px solid gray;
  border-spacing: 0;
}

kbd {
  background-color: black !important;
  color: white !important;
  font-family: monospace;
  border-radius: 6px;
  padding: 2px 8px;
}

cite {
  font-weight: bold;
}

summary {
  font-weight: 900;
}
