/*OwlRWD CSS.TAG Pro 1.1 by Kamil Dudar*/
/*OwlRWD CSS 1.2 not required*/
/*Requires OwlRWD JS.TAG 1.0.2*/
/*This file styles only html tags, no css classes*/
/*Github repository: http://www.owlr.github.io/owl-rwd*/
/*GitLab repository: https://gitlab.com/Owlr/owl-rwd*/

a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: black;
    text-decoration: underline;
    .nohover {
      color: black;
      text-decoration: none;
    }
  }
}

address {
  font-family: sans-serif !important;
}

address-serif {
  font-family: serif !important;
}

blockquote {
  background-color: #e6e6ff;
  border-left: 6px solid #ccccff;
  font-family: serif;
  font-size: 32px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 18px;
  padding-right: 18px;
}

button {
  background-color: lightgray;
  color: white;
  padding: 15px 33px;
  text-align: center;
  display: inline-block;
  font-size: 16px !important;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border: 0;
  &:hover {
    background-color: gray;
  }
}

button-big {
  background-color: lightgray;
  color: white;
  padding: 45px 63px;
  text-align: center;
  display: inline-block;
  font-size: 36px !important;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border: 0;
  &:hover {
    background-color: gray;
  }
}

code {
  background-color: #ccc;
  color: black;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin: 2px;
}

code-red {
  background-color: #ccc;
  color: #ff3333 !important;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin: 2px;
}

code-blue {
  background-color: #ccc;
  color: #8533ff !important;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin: 2px;
}

code-green {
  background-color: #ccc;
  color: green !important;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin: 2px;
}

footer {
  padding: 5px;
}

details {
  padding: 3px;
}

dt {
  margin-left: 20px;
}

input, textarea, select, fieldset {
  border-radius: 3px;
  background-color: #ccc;
  color: black;
  padding: 3px;
}

option, optgroup {
  background-color: #ccc;
  color: black;
  padding: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

iframe {
  border: 0;
  border-radius: 3px;
}

table {
  border: 2px solid gray;
  border-radius: 2px;
  border-spacing: 0;
}

tr, td, th {
  border: 2px solid gray;
  border-spacing: 0;
}

caption {
  font-weight: bold !important;
  font-family: sans-serif !important;
  font-size: 2.75em;
}

cite {
  font-weight: bold;
}

summary {
  font-weight: 900;
}

@keyframes top {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}


animate-top {
  animation: top 0.4s;
}

@keyframes bottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}


animate-bottom {
  animation: bottom 0.4s;
}

@keyframes left {
  form {
    left: -300px;
    opacity: 0;
  }

  top {
    left: 0px;
    opacity: 1;
  }
}


animate-left {
  animation: left 0.4s;
}

@keyframes right {
  form {
    right: -300px;
    opacity: 0;
  }

  top {
    right: 0px;
    opacity: 1;
  }
}


animate-right {
  animation: right 0.4s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


animate-opacity {
  animation: opacity 1.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


animate-zoom {
  animation: zoom 2s;
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


animate-fading {
  animation: fading 10s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


animate-spin {
  animation: spin 5s infinite linear;
}

display-none {
  display: none;
}

kbd {
  background-color: black !important;
  color: white !important;
  font-family: monospace;
  border-radius: 6px;
  padding: 2px 8px;
}

text-serif {
  font-family: serif;
}

text-sans-serif {
  font-family: sans-serif;
}

text-monospace {
  font-family: monospace;
}

text-cursive {
  font-family: cursive;
}

text-fantasy {
  font-family: fantasy;
}
