/*OwlRWD animatePack 1.0 by Kamil Dudar*/
/*Status: InDev*/

@keyframes fullRainbow {
  8.33% {
    background-color: #FF0000;
  }

  16.66% {
    background-color: #FF3300;
  }

  25% {
    background-color: #FFFF00;
  }

  33.33% {
    background-color: #00CC00;
  }

  41.66% {
    background-color: #009999;
  }

  50% {
    background-color: #0099FF;
  }

  58.33% {
    background-color: #0000FF;
  }

  66.66% {
    background-color: #666699;
  }

  75% {
    background-color: #9900CC;
  }

  83.33% {
    background-color: #FF0099;
  }

  91.66% {
    background-color: #000000;
  }

  100% {
    background-color: #ffffff;
  }
}


.ap-full-rainbow {
  animation: fullRainbow 5s linear 2s infinite alternate;
}
