/*OwlRWD modernStyle 1.0.1 Addon for OwlRWD by Kamil Dudar*/

/*showcase*/
.ms-showcase{
  padding: 80px 65px;
  background-color: #eee;
}

.ms-showcase h1{
  font-size: 72px;
  font-weight: bold;
}

.ms-showcase p{
  font-size: 26px;
}

.ms-showcase-light{
  color: black;
  padding: 65px 65px;
}
.ms-showcase-light h1{
  font-size: 72px;
  font-weight: 100;
  opacity: 0.9;
}
.ms-showcase-light p{
  font-size: 26px;
  opacity: 0.9;
}

/*breadcrumbs*/
.ms-breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #eceeef;
  border-radius: 0.25rem;
}

.ms-breadcrumb li::after{
  content: "/";
  padding-left: 7px;
  padding-right: 7px;
}

.ms-breadcrumb li{
  display:inline-block
}

.ms-breadcrumb li:last-child::after{
  content: "";
}

/*buttons*/
.ms-button{
  background-color: white;
  color: black;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border-radius: 3px;
  border: 0.5px solid #bbb;
}

.ms-button-mini{
  background-color: white;
  color: black;
  padding: 7px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border-radius: 3px;
  border: 0.5px solid #bbb;
}

.ms-button-hr{
  background-color: white;
  color: black;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border-radius: 40px;
  border: 0.5px solid #bbb;
}

.ms-button-tooltip li{
  background-color: white;
  color: black;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  border-radius: 0px;
  border: 0.5px solid #bbb;
  border-left: 0;
  float: left;
}

.ms-button-tooltip li:first-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0.5px solid #bbb;
}

.ms-button-tooltip li:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 0.5px solid #bbb;
  border-left: 0;
}

.light{
  background-color: white!important;
}

.dark{
  background-color: #bbb!important;
}


[class*="button"]:hover{
  background-color: #ccc;
}

.ms-button-nav-tab-active{
  background-color: white;
  border: 0.5px solid #bbb;
  border-bottom:0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 7px;
  display: inline-block;
  float: left;
}

.ms-button-nav-tab-inactive{
  background-color: white;
  border-bottom:0.5px solid #bbb;
  display: inline-block;
  padding: 7px;
  float: left;
}

/*labels*/
.ms-label{
  border-radius: 5px;
  background-color: #777;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px
}

.ms-label-mini{
  border-radius: 5px;
  background-color: #777;
  color: white;
  display: inline-block;
  padding: 7px 10px;
  font-size: 16px
}

.label-default,.button-default{
  background-color: #777;
}

.label-primary,.button-primary{
  background-color: #337ab7;
}

.label-success,.button-success{
  background-color: #5cb85c;
}

.label-info,.button-info{
  background-color: #5bc0de;
}

.label-warning,.button-warning{
  background-color: #f0ad4e;
}

.label-danger,.button-danger{
  background-color: #d9534f;
}

/*alerts*/
.ms-alert-success,.ms-success{
  border: 0.5px solid #d6e9c6;
  border-radius: 2px;
  background-color: #dff0d8;
  color: #3c7650;
  padding: 10px;
}

.ms-alert-info,.ms-info{
  border: 0.5px solid #bce8f1;
  border-radius: 2px;
  background-color: #d9edf7;
  color: #31708f;
  padding: 10px;
}

.ms-alert-warning,.ms-warning{
  border: 0.5px solid #faebcc;
  border-radius: 2px;
  background-color: #fcf8e3;
  color: #bb873b;
  padding: 10px;
}

.ms-alert-danger,.ms-danger{
  border: 0.5px solid #ebccd1;
  border-radius: 2px;
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}

/*Other styles*/
.ms-disabled{
  color: #ccc;
}

.ms-disabled:hover{
  cursor: no-drop;
}
